@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Play:400,700");
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 10px; font-family: "Montserrat", sans-serif; font-weight: 500; }

body { margin: 0; padding: 0; background: url("../img/bg_layer.png") #f0f0f0; background-size: contain; font-size: 14px; color: #444; }

a:active, a:orange, input, textarea, textarea:active, input:active, input:orange, button:active, button:orange, img, select { outline: none; }

a { color: #009FE4; }

button::-moz-orange-inner { border: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-family: "Play", sans-serif; }

img { max-width: 100%; height: auto; }

.wrap-full { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; margin: 0 auto; padding: 0; }

.wrap { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; max-width: 1560px; margin-right: auto; margin-left: auto; position: relative; }

.line-white { background: #fff; }
.line-dark { background: #444; }

.margin { margin: 1rem auto; }

header { margin: 1rem auto !important; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }

.header { padding: 1rem 0; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.header-block { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 1rem; -ms-flex-preferred-size: 16.6666%; flex-basis: 16.6666%; }
.header-block .icon { -ms-flex-preferred-size: 40px; flex-basis: 40px; margin-right: 1rem; }
.header-block_info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; text-align: center; position: relative; }
.header-block_info strong { font-size: 18px; -ms-flex-preferred-size: 100%; flex-basis: 100%; }
.header-block_info span { font-size: 12px; -ms-flex-preferred-size: 100%; flex-basis: 100%; }
.header-block_info a { position: absolute; width: 100%; height: 100%; color: #59B400; text-decoration: none; }
.header-block_info:hover strong { color: #59B400; }
.header-search { -ms-flex-preferred-size: 25%; flex-basis: 25%; }
.header-search form { -ms-flex-preferred-size: 100%; flex-basis: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; border: 1px solid #ddd; }
.header-search form input { border: 0; height: 40px; padding: 1rem; width: 100%; }
.header-panel { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-preferred-size: 25%; flex-basis: 25%; }
.header-panel_btn { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-preferred-size: 25%; flex-basis: 25%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; position: relative; }
.header-panel_btn .icon { -ms-flex-preferred-size: 100%; flex-basis: 100%; }
.header-panel_btn p { margin: 0.5rem 0; }
.header-panel_btn a { position: absolute; width: 100%; height: 100%; }
.header-panel_btn span { position: absolute; width: 30px; height: 30px; right: 10px; border: 2px solid #59B400; border-radius: 50%; background: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.header-panel_btn:hover p { color: #59B400; }
.header-panel_btn:hover path { fill: #59B400; }

.menuLine { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; }
.menuLine-catalogButton { color: #fff; text-decoration: none; padding: 0.5rem 1rem; font-weight: bold; -ms-flex-preferred-size: 20%; flex-basis: 20%; background: #5e5e5e; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: 1rem; -webkit-transition: 0.5s; transition: 0.5s; }
.menuLine-catalogButton:hover, .menuLine-catalogButton.active { background: #ff3300; cursor: pointer; }
.menuLine-catalogButton_icon { width: 20px; height: 3px; border-radius: 1px; margin-right: 1rem; background: #fff; display: block; position: relative; -webkit-transition: 0.5s; transition: 0.5s; }
.menuLine-catalogButton_icon::before { content: ""; width: 20px; height: 3px; border-radius: 1px; position: absolute; background: #fff; top: 7px; -webkit-transition: 0.5s; transition: 0.5s; }
.menuLine-catalogButton_icon::after { content: ""; width: 20px; height: 3px; border-radius: 1px; position: absolute; background: #fff; bottom: 7px; -webkit-transition: 0.5s; transition: 0.5s; }
.menuLine-catalogButton_icon.close { background-color: transparent; }
.menuLine-catalogButton_icon.close::before { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transform-origin: left; transform-origin: left; }
.menuLine-catalogButton_icon.close::after { -webkit-transform: rotate(45deg); transform: rotate(45deg); -webkit-transform-origin: left; transform-origin: left; }
.menuLine-stockButton { display: -webkit-box; display: -ms-flexbox; display: flex; font-weight: bold; list-style: none; color: #fff; text-decoration: none; padding: 0 1.5rem; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: #009FE4; height: 100%; -webkit-transition: 0.5s; transition: 0.5s; -ms-flex-preferred-size: 10%; flex-basis: 10%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.menuLine-stockButton:hover { background: #008dcb; }
.menuLine-menu { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-preferred-size: 70%; flex-basis: 70%; height: 100%; padding: 0; margin: 0; }
.menuLine-menu a { display: -webkit-box; display: -ms-flexbox; display: flex; font-weight: bold; list-style: none; color: #fff; text-decoration: none; padding: 0 1.5rem; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 1rem; -webkit-transition: 0.5s; transition: 0.5s; }
.menuLine-menu a:hover { background: #ff3300; }

.mainBanner { -ms-flex-preferred-size: 75%; flex-basis: 75%; }

.billboard { -ms-flex-preferred-size: calc(25% - 1rem); flex-basis: calc(25% - 1rem); margin-left: 1rem; }

.categories { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.categories-item { -ms-flex-preferred-size: calc(10% - 1rem); flex-basis: calc(10% - 1rem); display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; text-align: center; border: 1px solid #ddd; margin: 0 0.5rem; background: #fff; padding: 1rem; -webkit-transition: 0.5s; transition: 0.5s; }
.categories-item:first-child { margin-left: 0; }
.categories-item:last-child { margin-right: 0; }
.categories-item_icon { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-preferred-size: 100%; flex-basis: 100%; height: 90px; }
.categories-item_title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 50px; margin-top: 1rem; font-weight: bold; }
.categories-item:hover { -webkit-transform: scale(1.1); transform: scale(1.1); -webkit-box-shadow: 0 0 1rem rgba(68, 68, 68, 0.5); box-shadow: 0 0 1rem rgba(68, 68, 68, 0.5); color: #ff3300; cursor: pointer; }
.categories-item:hover .categories-item_icon path { fill: #ff3300; }

.navbar { margin: 2rem auto; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.navbar_title { font-size: 36px; position: relative; border-left: 5px solid #ff3300; padding-left: 1rem; }
.navbar-ctrl { display: -webkit-box; display: -ms-flexbox; display: flex; }
.navbar-ctrl_prev, .navbar-ctrl_next { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 50px; height: 50px; border: 1px solid #ddd; background: #fff; }
.navbar-ctrl_prev:hover, .navbar-ctrl_next:hover { cursor: pointer; }
.navbar-ctrl_prev:hover path, .navbar-ctrl_next:hover path { fill: #ff3300; }
.navbar-ctrl_next { margin-left: 1rem; }

.product { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 250px; background: #fff; border: 1px solid #ddd; margin: 0.5rem; -webkit-transition: 0.5s; transition: 0.5s; }
.product:hover { -webkit-box-shadow: 0 0 1rem #bbb; box-shadow: 0 0 1rem #bbb; }
.product:hover .product_fastview { opacity: 1; }
.product-img { -ms-flex-preferred-size: 100%; flex-basis: 100%; padding: 1rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; width: 250px; height: 250px; }
.product_gift { position: absolute; right: 1rem; bottom: 1rem; }
.product_fastview { -webkit-transition: 0.5s; transition: 0.5s; position: absolute; right: 1rem; top: 1rem; opacity: 0; }
.product-labels { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-preferred-size: 100%; flex-basis: 100%; height: 30px; }
.product-labels_btn { -ms-flex-preferred-size: 33.33%; flex-basis: 33.33%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 0.5rem; color: #fff; background: #ddd; font-weight: bold; }
.product-labels_btn.sale { background: rgba(0, 159, 228, 0.6); }
.product-labels_btn.best { background: rgba(168, 200, 40, 0.6); }
.product-labels_btn.new { background: rgba(255, 51, 0, 0.6); }
.product-rating { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-preferred-size: calc(60% - 1rem); flex-basis: calc(60% - 1rem); padding: 1rem; }
.product-rating .rating:before { content: "("; }
.product-rating .rating:after { content: ")"; }
.product-rating .star { margin: 0 0.1rem; }
.product-rating .star path { fill: transparent; stroke: #A8C828; }
.product-rating .star.active path { fill: #A8C828; stroke: #A8C828; }
.product-sku { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-preferred-size: 40%; flex-basis: 40%; padding: 1rem; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.product-title { padding: 1rem; height: 70px; }
.product-title a { color: #444; text-decoration: none; }
.product-price { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 1rem; border-top: 1px solid #ddd; }
.product-price_title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-preferred-size: 30%; flex-basis: 30%; font-weight: bold; }
.product-price_pricing { -ms-flex-preferred-size: 70%; flex-basis: 70%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.product-price_pricing * { -ms-flex-preferred-size: 100%; flex-basis: 100%; text-align: right; }
.product-price_pricing_new { font-size: 18px; font-weight: bold; }
.product-price_pricing_old { text-decoration: line-through; color: #ff3300; }
.product-buyblock { padding: 1rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-preferred-size: 100%; flex-basis: 100%; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.product-available { padding: 0rem 1rem 1rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.product-available::before { content: ""; width: 10px; height: 10px; background: #59B400; border-radius: 50%; margin-right: 1rem; color: #59B400; }

.drawCategs { display: block; vertical-align: baseline; }
.drawCategs-item { margin: 0.5rem; position: relative; float: left; -webkit-transition: 0.5s; transition: 0.5s; width: 250px; height: 250px; }
.drawCategs-item_title { position: absolute; width: 100%; margin: 2rem 0; text-align: center; font-weight: bold; font-size: 18px; }
.drawCategs-item.big { width: 510px; height: 510px; float: left; }
.drawCategs-item.big .drawCategs-item_title { font-size: 24px; margin-top: 4rem; }
.drawCategs-item a { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
.drawCategs-item:hover { -webkit-box-shadow: 0 0 1rem #bbb; box-shadow: 0 0 1rem #bbb; }

.btn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0; -webkit-transition: 0.5s; transition: 0.5s; max-height: 40px; }
.btn-search { width: 40px; height: 40px; border: none; background: none; }
.btn-buy { background: rgba(89, 180, 0, 0.8); padding: 1rem; color: #fff; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -ms-flex-preferred-size: 60%; flex-basis: 60%; font-weight: bold; }
.btn-buy:hover { background: #59b400; }
.btn-buy .icon { margin-right: 1rem; }
.btn-bookmarks, .btn-compare { border: 1px solid #ddd; width: 40px; }
.btn-bookmarks:hover { background: #ffdd33; }
.btn-compare:hover { background: #A8C828; }
.btn-oneclick { background: rgba(0, 159, 228, 0.8); padding: 1rem; color: #fff; -ms-flex-preferred-size: 100%; flex-basis: 100%; margin-top: 1rem; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
.btn-oneclick:hover { background: #009fe4; }
.btn:hover { cursor: pointer; }
.btn span { width: 100%; text-align: center; }
.btn img { width: auto !important; }

.totop { padding: 1rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 18px; background: #fff; border: 1px solid #ddd; }
